*,::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #031927;
    color: #F3F3F3;
    opacity: 80%;
    font-family: 'montserrat';
    display: flex;
    justify-content: center;
}
.main{
    width: 400px;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}
.tabs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsla(339, 62%, 30%, 70%);
}
.tab{
    padding: 10px 2px;
    cursor: pointer;
}
.tab:hover{
    background-color: hsla(339, 62%, 30%, 100%);
}
.active{
    background-color: hsla(339, 62%, 30%, 100%);
}
.main-ctn{
    padding: 0 20px 20px 20px;

    
}
.title-ctn{
    text-align: center;
    color: #FCBA04;
}
.hide-content{
    display: none;
}
.show-content{
    display: inline;
}
.content{
    justify-content: space-between;
    background-color: hsl(339, 62%, 30%);
    padding: 5px;
}
.content>div{
    display: flex;
    justify-content: space-between;
}